@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); 
 */

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3e10349b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #650d43;
  border-radius: 20px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  /* font-family: Arial, Helvetica, sans-serif;  */
  /* font-family: poppins;  */
  font-family: "Poppins", serif;
}

@keyframes loading01 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading07 {
  0%,
  75%,
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
  25%,
  50% {
    transform: scale(1);
    opacity: 1;
  }
}

.loading07 span::after {
  position: absolute;
  top: 0;
  left: 0;
  content: attr(data-text);
  color: #ecb2d2;
  opacity: 0;
  transform: scale(1.5);
  animation: loading07 3s infinite;
}

.loading07 span:nth-child(2)::after {
  animation-delay: 0.1s;
}
.loading07 span:nth-child(3)::after {
  animation-delay: 0.2s;
}
.loading07 span:nth-child(4)::after {
  animation-delay: 0.3s;
}
.loading07 span:nth-child(5)::after {
  animation-delay: 0.4s;
}
.loading07 span:nth-child(6)::after {
  animation-delay: 0.5s;
}
.loading07 span:nth-child(7)::after {
  animation-delay: 0.6s;
}

.pro {
  background: linear-gradient(
    120.37deg,
    #000000 5.43%,
    #11040d 50.09%,
    #200f0c 74.23%,
    #000000 85.9%
  );
  border: 1px solid;
  border-image-source: linear-gradient(
    120.37deg,
    rgba(246, 130, 111, 0.2) 5.43%,
    rgba(250, 79, 202, 0.2) 85.9%
  );
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* 
header {
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  height: 700px;
  z-index: -11111;
} */

/* nav {
  position: fixed;
  top: 72px;
  width: 90%;
  margin: 0 auto;
  z-index: 11111111;
} */

.nav {
  /* background: rgba(237, 237, 237, 0.813); */
  background-image: url("./Gradient.png");
  background-repeat: no-repeat;
}

.pro-btn {
  /* font-family: Manrope; */
  font-family: inter;
  font-weight: 400;
  background: linear-gradient(
    120.37deg,
    rgba(246, 130, 111, 0.2) 5.43%,
    rgba(250, 79, 202, 0.2) 85.9%
  );

  border: 0.5px solid rgba(250, 79, 202, 0.4);
}

.btn-bg {
  background: linear-gradient(
    106.25deg,
    #f8eeed 31.71%,
    #ffffff 49.34%,
    #e7e1e0 85.55%
  );
}

.pro {
  /* font-family: "Manrope", serif;   */
  font-family: inter;
  background: linear-gradient(
    120.37deg,
    #00000000 5.43%,
    #84156118 50.09%,
    #7e271813 74.23%,
    #00000000 85.9%
  );
  border: 1px solid rgba(250, 79, 202, 0.5);
}

.exp-text-gradient {
  background: linear-gradient(
    120.37deg,
    rgba(246, 130, 111, 0.2) 5.43%,
    rgba(250, 79, 202, 0.2) 85.9%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.text-gradient {
  background: linear-gradient(107.08deg, #f6826f -27.18%, #fa4fca 82.89%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.bg-gradient {
  background: linear-gradient(
    120.37deg,
    #7c231313 5.43%,
    #580f4218 50.09%,
    #7e271824 74.23%,
    #87076524 85.9%
  );
}

.bg-dark-gradient {
  font-family: inter;
  background: linear-gradient(
    120.37deg,
    #00000000 5.43%,
    #86868610 50.09%,
    #8484840f 74.23%,
    #00000000 85.9%
  );
}

.cer-border {
  background: linear-gradient(
    120.37deg,
    rgba(246, 130, 111, 0.2) 5.43%,
    rgba(250, 79, 202, 0.2) 85.9%
  );
}

html {
  scroll-behavior: smooth;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

div[ref] {
  scroll-behavior: smooth; /* Smooth scrolling for horizontal movement */
}

/*  */

.light-bg-gradient {
  background: linear-gradient(107.08deg, #f6826f -27.18%, #fa4fca 82.89%);
}

@media screen and (max-width: 1000px) {
  .cer-border {
    background: rgba(246, 130, 111, 0.2);
  }
}
